{%- set TITLE = 'О компании' -%}
{%- set MENU = ctx.aboutMenu -%}
{%- set PAGEPATH = [TITLE] -%}
{%- set TEAM = [] -%}
{%- extends "layout.html" -%}
{%- block content %}
<div class="c-page l-container">
	<aside class="c-page__aside">
		{% include "blocks/asideMenu.html" %}
		<a class="c-poster" href="/points">
			<img src="/uploads/poster2.jpg" alt="">
		</a>
	</aside>
	<main class="c-page__main">
		{% include "blocks/bradCrumbs.html" %}
		<h1 class="c-page__title">{{ TITLE }}</h1>
		<article class="c-wysiwyg">
			<p>Акционерное общество «Национальная управляющая компания» осуществляет профессиональную деятельность по доверительному управлению на рынке ценных бумаг с 2002 года и входит в число крупнейших компаний, управляющих пенсионными резервами российских негосударственных пенсионных фондов.</p>
			<p>Результатами, достигнутыми Компанией на сегодняшний день, мы обязаны деятельности по доверительному <a href="#">управлению пенсионными резервами</a> негосударственных пенсионных фондов. Свои дальнейшие успехи мы связываем с предложением новых финансовых услуг нашим партнерам и потенциальным клиентам и с развитием, совершенствованием услуг, предоставляемых негосударственным пенсионным фондам.</p>
		</article>
	</main>
</div>
{%- endblock %}