{%- set TITLE = 'Открытые паевые фонды' -%}
{%- set MENU = ctx.asideMenu -%}
{%- set PAGEPATH = ["Частным клиентам", "Паевые фонды", TITLE] -%}
{%- set ITEMS = [{
	"title": "Сириус",
	"text": "Фонд реализует сбалансированную стратегию, направленную на обеспечение сохранности вложенных в фонд денежных средств и стабильного текущего дохода",
	"url": "#"
},{
	"title": "Канопус",
	"text": "Фонд реализует агрессивную стратегию управления, направленную на обеспечение максимального прироста вложенных в фонд денежных средств",
	"url": "#"
},{
	"title": "Вега",
	"text": "Инвестиционная политика: краткосрочное вложение средств в ценные бумаги.",
	"url": "#"
},{
	"title": "Полярная звезда",
	"text": "долгосрочное вложение средств в ценные бумаги и краткосрочное вложение средств в имущественные права из фьючерсных и опционных договоров (контрактов).",
	"url": "#"
}] -%}
{%- set ASIDEACTIVE = 1 -%} {%- set ASIDESUBACTIVE = 1 -%}
{%- extends "layout.html" -%}
{%- block content %}

<div class="c-page l-container">
	<aside class="c-page__aside">
		{% include "blocks/asideMenu.html" %}
		<a class="c-poster" href="#">
			<img src="/uploads/poster2.jpg" alt="">
		</a>
	</aside>
	<main class="c-page__main">
		{% include "blocks/bradCrumbs.html" %}
		<h1 class="c-page__title">{{ TITLE }}</h1>
		<article class="c-wysiwyg">
			<p>Акционерное общество «Национальная управляющая компания» осуществляет профессиональную деятельность по доверительному управлению на рынке ценных бумаг с 2002 года и входит в число крупнейших компаний, управляющих пенсионными резервами российских негосударственных пенсионных фондов.</p>
			<p>Результатами, достигнутыми Компанией на сегодняшний день, мы обязаны деятельности по доверительному управлению пенсионными резервами негосударственных пенсионных фондов. Свои дальнейшие успехи мы связываем с предложением новых финансовых услуг нашим партнерам и потенциальным клиентам и с развитием, совершенствованием услуг, предоставляемых негосударственным пенсионным фондам.</p>

			<div class="c-listing">
			{%- for item in ITEMS %}
				<div class="c-listing__item">
					<div class="c-listing__title"><a href="{{ item.url }}">{{ item.title }}</a></div>
					<div class="c-listing__text">{{ item.text }}</div>
				</div>
			{%- endfor %}
			</div>
		</article>
		
	</main>
</div>
{%- endblock %}