{%- set TITLE = 'Паевые инвестиционные фонды' -%}
{%- set PAGEPATH = ["Частным клиентам", "Паевые фонды"] -%}
		{%- set ASIDEACTIVE = 1 -%}
{%- extends "layout.html" -%}
{%- block content %}
<div class="c-page l-container">
	<aside class="c-page__aside">
		{% include "blocks/asideMenu.html" %}
		<a class="c-poster" href="#">
			<img src="/uploads/poster2.jpg" alt="">
		</a>
	</aside>
	<main class="c-page__main">
		{% include "blocks/bradCrumbs.html" %}
		<h1 class="c-page__title">Паевые инвестиционные фонды</h1>
		<article class="c-wysiwyg">
			<p>Акционерное общество «Национальная управляющая компания» осуществляет профессиональную деятельность по доверительному управлению на рынке ценных бумаг с 2002 года и входит в число крупнейших компаний, управляющих пенсионными резервами российских негосударственных пенсионных фондов.</p>
			<p>Результатами, достигнутыми Компанией на сегодняшний день, мы обязаны деятельности по доверительному <a href="#">управлению пенсионными резервами</a> негосударственных пенсионных фондов. Свои дальнейшие успехи мы связываем с предложением новых финансовых услуг нашим партнерам и потенциальным клиентам и с развитием, совершенствованием услуг, предоставляемых негосударственным пенсионным фондам.</p>
			<dl>
				<dt>Открытые</dt>
				<dd>Инвестиционная политика: долгосрочное вложение средств в ценные бумаги и краткосрочное вложение средств в имущественные права из фьючерсных и опционных договоров (контрактов).</dd>
				<dt>Закрытые</dt>
				<dd>Объекты инвестирования: средства пайщиков инвестируются в корпоративные облигации и акции российских компаний.</dd>
				<dt>Интервальные</dt>
				<dd>Издержки инвестора: вознаграждение Управляющей компании – 2,75 (две целых семьдесят пять сотых) процента среднегодовой стоимости чистых активов фонда. </dd>
			</dl>
		</article>
	</main>
</div>
{%- endblock %}