{%- set TITLE = 'Доверительное управление' -%}
{%- set MENU = ctx.asideMenu -%}
{%- set PAGEPATH = ["Частным клиентам", TITLE] -%}
{%- set ITEMS = [{
	"title": "Стратегия «Сбалансированная»",
	"text": "Стратегия предусматривает компромисс между доходностью и волатильностью стоимости портфеля.",
	"img": "trust1.jpg"
},{
	"title": "Стратегия «Сбалансированная»",
	"text": "Стратегия предусматривает компромисс между доходностью и волатильностью стоимости портфеля.",
	"img": "trust2.jpg"
},{
	"title": "Стратегия «Сбалансированная»",
	"text": "Стратегия предусматривает компромисс между доходностью и волатильностью стоимости портфеля.",
	"img": "trust3.jpg"
},{
	"title": "Стратегия «Сбалансированная»",
	"text": "Стратегия предусматривает компромисс между доходностью и волатильностью стоимости портфеля.",
	"img": "trust4.jpg"
}] -%}
{%- set ASIDEACTIVE = 2 -%}
{%- extends "layout.html" -%}
{%- block content %}
<div class="c-page l-container">
	<aside class="c-page__aside">
		{% include "blocks/asideMenu.html" %}
		<a class="c-poster" href="#">
			<img src="/uploads/poster2.jpg" alt="">
		</a>
	</aside>
	<main class="c-page__main">
		{% include "blocks/bradCrumbs.html" %}
		<h1 class="c-page__title">{{ TITLE }}</h1>
		<article class="c-wysiwyg">
			<p>Акционерное общество «Национальная управляющая компания» оказывает услуги по доверительному управлению ценными бумагами, а также средствами инвестирования в ценные бумаги физическим и юридическим лицам, а также активами институциональных инвесторов. Для каждого Клиента мы формируем собственный инвестиционный портфель, соответствующий его индивидуальным требованиям.</p>
			<p>Инвестирование в ценные бумаги — это работа, которой нужно заниматься профессионально. Для этого необходимы глубокое знание рынка и опыт работы, которые приобретаются годами. Решив заняться операциями с <a href="#">ценными бумагами</a> самостоятельно, Вам придется посвящать этому практически все свое время, иначе эффективность вложений будет крайне низкой, а риск потери вложенных средств велик. Вы можете существенно снизить свои риски и сохранить свое время для основного рода деятельности, передав свои средства в доверительное управление опытному профессиональному управляющему.</p>
			<h4>Доверяя нам свои средства в управление, Вы получаете в свое распоряжение:</h4>
			<ul>
				<li>наш опыт по управлению активами</li>
				<li>персонального менеджера</li>
				<li>уникальные инвестиционные стратегии</li>
				<li>эффективную систему контроля за рисками</li>
				<li>постоянное наблюдение за изменениями конъюнктуры финансовых рынков</li>
				<li>регулярные отчеты о состоянии инвестиционного портфеля</li>
				<li>конфиденциальность совершаемых операций</li>
			</ul>
			<hr />
			<h4>Стратегии</h4>
			<div class="c-mediaList">
			{%- for item in ITEMS %}
				<div class="c-mediaList__item">
					<div class="c-media">
						<div class="c-media__imgBox">
							<img src="/uploads/{{ item.img }}" alt="">
						</div>
						<div class="c-media__data">
							<div class="c-media__title">{{ item.title }}</div>
							<div class="c-media__text">{{ item.text }}</div>
						</div>
					</div>
				</div>
			{%- endfor %}
			</div>
		</article>

	</main>
</div>
{%- endblock %}
