/* =================
	Привет :)
	Так как меня попросили заинлайнить скрипты для графиков,
	а сами графики поместили в табы,
	то я был вынужден, воткнуть функцию рисования графиков
	в колбеки для табов. (Ибо, график не может быть нарисован,
	если его родитель, или родитель родителя, не отображается на странице.)
	По этому, в дата атрибуте нужно указать имя функции, которая будет выполнена
	после открытия таба http://take.ms/MVV56
	
	В app.js есть функция отвечающая за открытие таба nmcApp.showTab.
	В ней, колбек, переданный через дата атрибут, будет завернут в eval и вызван.
	На всякий "пожарный" обернул eval в try/catch
=====================
*/