<footer class="c-footer">
	<div class="c-footer__topline">
		<div class="l-container">
			<div class="c-footer__row">
				<div class="c-footer__col c-footer__col--1">
					<div class="c-footer__copy">2004–2016 © Национальная управляющая компания</div>
					<form action="#" method="POST" class="c-footer__search">
						<input type="text" class="c-footer__search-input" placeholder="Поиск по сайту">
					</form>
					<div class="c-footer__devcopy">Создание сайта - <a target="_blank" href="http://hcube.ru/">HCube</a></div>
				</div>
				<div class="c-footer__col c-footer__col--2">
					<div class="c-footer__contacts">
						<p>111123, г. Москва, улица Плеханова, дом 4</p>
						<p>Телефон: <a href="tel: +74956401711">(495) 640−17−11</a></p>
						<p>Факс: (495) 640−75−11</p>
						<p>E-mail: <a href="mailto:mail@namc.ru">mail@namc.ru</a></p>
					</div>
				</div>
				<div class="c-footer__col c-footer__col--3">
					<div class="c-footer__stats">
						<img src="/uploads/statimg1.jpg" alt="">
						<img src="/uploads/statimg2.jpg" alt="">
					</div>
				</div>
				<div class="c-footer__col c-footer__col--4">
					<p><a class="c-footer__link" href="tel: 74956401711">+7 (495) 640-17-11</a></p>
					<p><a class="c-footer__link" href="#">Обратная связь</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="c-footer__license">
		<div class="l-container">
			<p>Лицензия на осуществление деятельности по управлению инвестиционными фондами, паевыми инвестиционными фондами и негосударственными пенсионными фондами № 21—000—1—00028 от 22 сентября 1998 года выдана ФСФР России, без ограничения срока действия. Лицензия на осуществление деятельности по управлению ценными бумагами № 077—08158—001000, выдана ФСФР России 30 ноября 2004 года, без ограничения срока действия. Правилами доверительного управления паевыми инвестиционными фондами, находящимися под управлением ООО УК «Альфа-Капитал», предусмотрены надбавки к расчетной стоимости инвестиционных паев при их выдаче и скидки к расчетной стоимости паев при их погашении. Обращаем Ваше внимание на то, что взимание скидок и надбавок уменьшает доходность инвестиций в инвестиционные паи паевых инвестиционных фондов.</p>
		</div>
	</div>
</footer>




