<header class="c-header">
	<div class="c-header__topline">
		<div class="l-container">
			<div class="c-header__row">
				<div class="c-header__col c-header__col--logo">
					<a href="/" class="c-header__logo">
						<img src="/images/logo.png" alt="{{ ctx.companyName }}">
					</a>
				</div>
				<div class="c-header__col c-header__col--nav">
					<nav class="c-header__nav">
						<a href="#" class="c-header__nav-item">О компании</a>
						<a href="#" class="c-header__nav-item">Контакты</a>
						<a href="#" class="c-header__nav-item">Пункты продаж</a>
					</nav>
				</div>
				<div class="c-header__col c-header__col--contacts">
					<div class="c-header__userblock">
						<a href="#" class="c-header__userblock-signin">Вход</a>&nbsp;|&nbsp;<a class="c-header__userblock-signup" href="#">Регистрация</a>
					</div>
					<div class="c-header__contacts">
						<div class="c-header__contacts-title">Единая справочная служба в Москве:</div>
						<a href="tel:+74956401711" class="c-header__contacts-tel">+7 (495) 640-17-11</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="c-header__navline">
		<div class="l-container">
			<nav class="c-header__menu">
				<a href="" class="c-header__menu-item">Частным клиентам</a>
				<a href="" class="c-header__menu-item">Корпоративным клиентам</a>
				<a href="" class="c-header__menu-item">Раскрытие информации</a>
				<a href="" class="c-header__menu-item">Новости</a>
			</nav>
		</div>
	</div>
</header>    
