<header class="c-header">
	<div class="c-header__topline">
		<div class="l-container">
			<div class="c-header__row">
				<div class="c-header__col c-header__col--logo">
					<a href="/" class="c-header__logo">
						<img src="/images/logo.png" alt="{{ ctx.companyName }}">
					</a>
				</div>
				<div class="c-header__col c-header__col--nav">
					<nav class="c-header__nav">
						<a href="/about" class="c-header__nav-item">О компании</a>
						<a href="/contacts" class="c-header__nav-item">Контакты</a>
						<a href="/points" class="c-header__nav-item"><span class="c-icon c-icon--placemark"></span>&nbsp;Пункты продаж</a>
					</nav>
				</div>
				<div class="c-header__col c-header__col--contacts">
					<div class="c-header__userblock">
						<a href="#" class="c-header__userblock-signin">Вход</a>&nbsp;|&nbsp;<a class="c-header__userblock-signup" href="#">Регистрация</a>
					</div>
					
					<div class="c-header__contacts">
						<div class="c-header__contacts-title">Единая справочная служба в Москве:</div>
						<a href="tel:+74956401711" class="c-header__contacts-tel">+7 (495) 640-17-11</a>
					</div>
				</div>
				<div class="c-header__col c-header__col--menu">
					<div class="c-burger">
						<div class="c-burger__line"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="c-header__navline">
		<div class="l-container">
			<nav class="c-header__menu">
			{%- for item in  ctx.headerNav -%}
				{%- if loop.index == 1 %}
					<div  class="c-header__menu-item {% if HEADER_ACTIVE == loop.index %}c-header__menu-item--active{% endif %}">
					{{ item.caption }}
						<div class="c-header__submenu c-subnav">
							<div class="c-subnav__container">
								<div class="c-subnav__row">
									<div class="c-subnav__col c-subnav__col--1">
										<span class="c-subnav__link">Паевые фонды</span>
										<div class="c-subnav__row">
											<div class="c-subnav__col c-subnav__col--4">
												<a href="#" class="c-subnav__sublink">ОПИФ</a>
												<a href="#" class="c-subnav__sublink">ЗПИФ</a>
												<a href="#" class="c-subnav__sublink">ИПИФ</a>
											</div>
											<div class="c-subnav__col c-subnav__col--4">
												<a class="c-subnav__sublink" href="#">Отчетность и&nbsp;документы Специализированного депозитария</a>
											</div>
										</div>
									</div>
									<div class="c-subnav__col c-subnav__col--2">
										<a href="#" class="c-subnav__link">Доверительное управление</a>
										<a href="#" class="c-subnav__link">Управление целевым капиталом</a>
										<a href="#" class="c-subnav__link">Управление страховыми резервами</a>
									</div>
									<div class="c-subnav__col c-subnav__col--3">
										<a href="#" class="c-subnav__link">Управление компенсационным фондом СРО</a>
										<a href="#" class="c-subnav__link">Управление активами НПФ</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					{%- else %}
					<a href="{{ item.url }}" class="c-header__menu-item {% if HEADER_ACTIVE == loop.index %}c-header__menu-item--active{% endif %}">
					{{ item.caption }}
					</a>
				{%- endif %}
				
			{%- endfor -%}
			</nav>
		</div>
	</div>
</header>    
