<div class="c-wysiwyg">
  <h4>Стоимость пая и чистых активов на 29.02.2016</h4>
  <div class="c-table__wrapper">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>29.02.2016</th>
          <th>29.01.2016</th>
          <th>Изменение</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Стоимость чистых активов, руб.</td>
          <td>318 784 971</td>
          <td>312 062 199</td>
          <td><span class="c-icon c-icon--up-arrow"></span>&nbsp;2.15%</td>
        </tr>
        <tr>
          <td>Стоимость чистых активов, руб.</td>
          <td>318 784 971</td>
          <td>312 062 199</td>
          <td><span class="c-icon c-icon--up-arrow"></span>&nbsp;2.15%</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4>ДИНАМИКА СТОИМОСТИ ПАЯ</h4>
  <div class="c-table__wrapper">
    <table>
      <thead>
        <tr>
          <th>Дата оценки </th>
          <th class="--selected">За 1 мес.</th>
          <th>За 3 мес.</th>
          <th>За 6 мес.</th>
          <th>За 1 год</th>
          <th>За 3 года</th>
          <th>С момента
            <br> формирования</th>
          <th id="pay_change_header">За выбранный
            <br>период</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>03.03.2016</td>
          <td>0.19% <span class="c-icon c-icon--down-arrow"></span></td>
          <td>6.83% <span class="c-icon c-icon--up-arrow"></span></td>
          <td>0.07% <span class="c-icon c-icon--down-arrow"></span></td>
          <td>18.07% <span class="c-icon c-icon--up-arrow"></span></td>
          <td>18.07% <span class="c-icon c-icon--up-arrow"></span></td>
          <td>18.07% <span class="c-icon c-icon--up-arrow"></span></td>
          <td>18.07% <span class="c-icon c-icon--up-arrow"></span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4>ДИНАМИКА СЧА</h4>
  <div class="c-table__wrapper">
    <table id="sca_table">
      <thead>
        <tr>
          <th>Дата оценки</th>
          <th  class="--selected">За 1 мес.</th>
          <th>За 3 мес.</th>
          <th>За 6 мес.</th>
          <th>За 1 год</th>
          <th>За 3 года</th>
          <th>С момента
            <br>формирования</th>
          <th id="sca_change_header">За выбранный
            <br>период</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>02.06.2016</td>
          <td>0.77% <span class="c-icon c-icon--up-arrow"></span></td>
          <td>2.41% <span class="c-icon c-icon--up-arrow"></span></td>
          <td>4.77% <span class="c-icon c-icon--up-arrow"></span></td>
          <td>9.77% <span class="c-icon c-icon--up-arrow"></span></td>
          <td>22.71% <span class="c-icon c-icon--up-arrow"></span></td>
          <td>22.71% <span class="c-icon c-icon--up-arrow"></span></td>
          <td><span id="sca_change">22.71</span>% <span class="c-icon c-icon--up-arrow"></span></td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="l-row u-mb35 u-mt35">
    <div class="l-col--md-8">
      <div class="u-mb10">Выберите период:</div>
      <form class="c-form c-form--inline" method="POST" action="#">
        <div class="c-form__unit-inline">
          C  <input type="text" id="from" name="from" class="j-datepicker c-form__control c-form__control--date"> 
        </div>
        <div class="c-form__unit-inline">
          по <input name="dateTo" id="till" name="till" type="text" class="c-form__control c-form__control--date  j-datepicker"> 
        </div>
        <div class="c-form__unit-inline">
          <button type="submit" class="c-btn" onclick="nmcApp.getShareValue($('#from').val(),$('#till').val(), true); return false">Показать</button>
        </div>  
      </form>
    </div>
  </div>

  <div id="plotHiddenCharts">
    <h4>Стоимость пая</h4>
    <p class="period">27 декабря 2006 г. – 29 февраля 2016 г.</p>
    <div class="c-plot__wrapper c-plot__wrapper--noflex u-mb35">
      <div class="c-plot" id="plot003" style="height: 400px;"></div>
    </div>
    <h4>График СЧА</h4>
    <p class="period">27 декабря 2006 г. – 29 февраля 2016 г.</p>
    <div class="c-plot__wrapper c-plot__wrapper--noflex u-mb25">
      <div class="c-plot" id="plot004" style="height: 400px;"></div>
    </div>
  </div>
</div>

<script>
$(function() {
  var data = [
    [1462381200000, 1230.34],
    [1462467600000, 1230.06],
    [1462554000000, 1231.38],
    [1462899600000, 1232.76],
    [1462986000000, 1232.73],
    [1463072400000, 1233.62],
    [1463158800000, 1233.9],
    [1463418000000, 1234.8],
    [1463504400000, 1235.1],
    [1463590800000, 1235.39],
    [1463677200000, 1235.73],
    [1463763600000, 1235.81],
    [1464022800000, 1236.82],
    [1464109200000, 1236.92],
    [1464195600000, 1237.43],
    [1464282000000, 1237.67],
    [1464368400000, 1237.75],
    [1464627600000, 1238.64],
    [1464714000000, 1238.36],
    [1464800400000, 1238.66],
    [1464886800000, 1239.79],
  ];
  var data2 = [
    [1462381200000, 12310294.85],
    [1462467600000, 12307467.03],
    [1462554000000, 12320740.89],
    [1462899600000, 12334543.31],
    [1462986000000, 12334161.53],
    [1463072400000, 12343158.83],
    [1463158800000, 12345899.41],
    [1463418000000, 12354879.15],
    [1463504400000, 12357905.86],
    [1463590800000, 12360831.12],
    [1463677200000, 12364248.91],
    [1463763600000, 12365010.62],
    [1464022800000, 12375084.05],
    [1464109200000, 12376182.35],
    [1464195600000, 12381210.19],
    [1464282000000, 12383621.06],
    [1464368400000, 12384449.32],
    [1464627600000, 12393312.83],
    [1464714000000, 12390504.44],
    [1464800400000, 12393522.43],
    [1464886800000, 12404878.54],
  ];
  var chartOpts1 = {
    colors: ["#f9d532"],
    series: {
      lines: {
        show: true,
        fill: true,
        fillColor: {
          colors: [{
            opacity: 0.7
          }, {
            opacity: 0.1
          }]
        }
      },
      points: {
        show: true,
        radius: 3
      }
    },
    grid: {
      borderWidth: 1,
      color: "#dedede",
      hoverable: true
    },
    xaxis: {
      color: "#dedede",
      mode: "time",
      timeformat: "%d.%m.%y",
      ticks: 5
    },
    yaxis: {
      color: "#dedede",
      min: 1230,
      max: 1240,
      labelWidth: 80,
      position: "right"
    }
  }

  var chartOpts2 = {
    colors: ["#f9d532"],
    series: {
      lines: {
        show: true,
        fill: true,
        fillColor: {
          colors: [{
            opacity: 0.7
          }, {
            opacity: 0.1
          }]
        }
      },
      points: {
        show: true,
        radius: 3
      }
    },
    grid: {
      borderWidth: 1,
      color: "#dedede",
      hoverable: true
    },
    xaxis: {
      color: "#dedede",
      mode: "time",
      timeformat: "%d.%m.%y",
      ticks: 5

    },
    yaxis: {
      color: "#dedede",
      min: 12307467,
      max: 12404879,
      labelWidth: 80,
      position: "right"
    }
  }
  var plot1 = $('#plot003');
  var plot2 = $('#plot004');

  nmcApp.getShareValue = function(from, till, isAjax) {

    //$('#plotHiddenCharts').fadeIn();
    
    var plot1Offset = plot1.offset();
    var plot2Offset = plot2.offset();
    var plotTip1, plotTip2;


    plotTip1 = document.createElement('div');
    plotTip2 = document.createElement('div');
    plotTip1.className = plotTip2.className = "c-plot__tip";

    if (isAjax) {
      //console.log(from);
      var d1 = $.Deferred();
      var d2 = $.Deferred();
      var d3 = $.Deferred();

      $.when( d1, d2, d3 ).done(function (a,b,c) {
        $('#pay_change').html(c[0]);
        if (c[0] >= 0) {
          $('#pay_change').next('span').removeClass('c-icon--down-arrow');
          $('#pay_change').next('span').addClass('c-icon--up-arrow');
        } else {
          $('#pay_change').next('span').removeClass('c-icon--up-arrow');
          $('#pay_change').next('span').addClass('c-icon--down-arrow');
        }
        $('#pay_table th').removeClass('--selected');
        $('#pay_change_header').addClass('--selected');

        $('#sca_change').html(c[1]);
        if (c[1] >= 0) {
          $('#sca_change').next('span').removeClass('c-icon--down-arrow');
          $('#sca_change').next('span').addClass('c-icon--up-arrow');
        } else {
          $('#sca_change').next('span').removeClass('c-icon--up-arrow');
          $('#sca_change').next('span').addClass('c-icon--down-arrow');
        }
        $('#sca_table th').removeClass('--selected');
        $('#sca_change_header').addClass('--selected');

        $('.period').html(c[2] + ' - ' + c[3]);

        chartOpts1.yaxis.min = c[4];
        chartOpts1.yaxis.max = c[5];
        chartOpts2.yaxis.min = c[6];
        chartOpts2.yaxis.max = c[7];

          $.plot(plot1, [data], chartOpts1);
          $.plot(plot2, [data2], chartOpts2);
      });


      $.getJSON("/uploads/getsca.json", function(d) {
        data = d;
        d1.resolve();
      });
      $.getJSON("/uploads/getsca2.json", function(d) {
        data2 = d;
        d2.resolve();

      });

      $.get("/uploads/getsca3.html", function(d) {
        var arr;
        arr = d.split(' ');
        d3.resolve(arr);
      });
    } else {
      $.plot(plot1, [data], chartOpts1);
      $.plot(plot2, [data2], chartOpts2);
    } 
    //console.log(chartOpts1);
    

    $('body').append(plotTip1, plotTip2);
    plot1.bind("plothover", function(event, pos, item) {
        if (!item) {
          return
        }
        var x = Math.ceil(pos.x);
        var str = 'Дата: ' + moment(x).format('MM.DD.YY hh:mm') + "\nСтоимость пая: " + pos.y.toFixed(2);
        $(plotTip1).text(str);
        $(plotTip1).css({
          display: 'block',
          top: item.pageY,
          left: item.pageX
        });
      })
      .bind('mouseleave', function() {
        $(plotTip1).hide();
      });

    plot2.bind("plothover", function(event, pos, item) {
        if (!item) {
          return
        }
        var x = Math.ceil(pos.x);
        var str = 'Дата: ' + moment(x).format('MM.DD.YY hh:mm') + "\nСЧА: " + pos.y.toFixed(2);
        $(plotTip2).text(str);
        $(plotTip2).css({
          display: 'block',
          top: item.pageY,
          left: item.pageX
        });
      })
      .bind('mouseleave', function() {
        $(plotTip2).hide();
      });
  }

  nmcApp.tabCallbacks.price = function() {
   nmcApp.getShareValue('', '', false);
  }
})
</script>
