<div class="c-wysiwyg">
	<p>Результатами, достигнутыми Компанией на сегодняшний день, мы обязаны деятельности по доверительному управлению пенсионными резервами негосударственных пенсионных фондов. Свои дальнейшие успехи мы связываем с предложением новых финансовых услуг нашим партнерам и потенциальным клиентам и с развитием, совершенствованием услуг, предоставляемых негосударственным пенсионным фондам.</p>
</div>
<div class="c-h4">Секторальная структура фонда на 29.02.2016<span class="u-red">*</span></div>
<div class="c-plot__wrapper">
	<div style="height: 300px;" class="c-plot" id="plot0001"></div>
	<div class="c-plot__legend"></div>
</div>
<p><span class="u-red">*</span><span class="u-gray">указаны доли от стоимости чистых активов</span></p>
<div class="c-h4">Секторальная структура фонда на 29.02.2016<span class="u-red">*</span></div>
<div class="c-plot__wrapper">
	<div style="height: 300px;" class="c-plot" id="plot0002"></div>
	<div class="c-plot__legend"></div>
</div>

<script>
	$(function() {
		var data = [
			{ "label": "Ликвидные акции",  "data": 63.10},
			{ "label": "Облигации",  "data": 32},
			{ "label": "Денежные средства",  "data": 3},
			{ "label": "Паи фондов ",  "data": 2}
		];

		var data2 = [
			{ "label": "Гособлигации", "data": 23.10},
			{ "label": "Потребительский сектор",  "data": 32},
			{ "label": "Транспорт",  "data": 3},
			{ "label": "Прочие",  "data": 2},
			{ "label": "Прочие",  "data": 2},
			{ "label": "Металлургия и добыча",  "data": 33}
		]
		
		var chartOpts = {
			colors: nmcApp.coldPalit,
	    series: {
        pie: {
          show: true,
          radius: 1
        }
	    },
	    grid: {
      	hoverable: true,
      	show: true
      },
      legend: {
      	show: true,
        labelFormatter: function(label, series) {
        	return "<div>" + label  + '\r' + Math.round(series.percent) + "%</div>";
        }
      }
		}

		nmcApp.tabCallbacks.structure = function() {
			nmcApp.drawPieChart(data, '#plot0001', chartOpts);
			nmcApp.drawPieChart(data2, '#plot0002', chartOpts);
		}
	});
</script>