<div class="c-wysiwyg">
	<h4>Реквизиты для оплаты паев</h4>
	<p>ОПИФ смешанных инвестиций «Сириус»</p>
	<div class="c-table__wrapper">
		<table>
			<tbody>
				<tr>
					<td>Р/с:</td>
					<td>№ 40701810500002009352 в ПАО Банк ЗЕНИТ г. Москва</td>
				</tr>
				<tr>
					<td>ИНН/КПП:</td>
					<td>7716219043/772001001</td>
				</tr>
				<tr>
					<td>К/с:</td>
					<td>30101810000000000272</td>
				</tr>
				<tr>
					<td>БИК:</td>
					<td>044525272</td>
				</tr>
				<tr>
					<td>Получатель:</td>
					<td>АО «НУК»</td>
				</tr>
				<tr>
					<td>Назначение платежа:</td>
					<td>ФИО (физ.лицо)/название организации (юр.лицо)</td>
				</tr>
			</tbody>
		</table>
		<p>оплата за инвестиционные паи ОПИФ смешанных инвестиций «Сириус» по заявке <nobr>№ _____ от __ __ 20__ г.</nobr> НДС не облагается.</p>
	</div>
</div>