<div class="c-wysiwyg">
	<h4>Стоимость пая и чистых активов на 29.02.2016</h4>
	<div class="c-table__wrapper">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>29.02.2016</th>
					<th>29.01.2016</th>
					<th>Изменение</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Стоимость чистых активов, руб.</td>
					<td>318 784 971</td>
					<td>312 062 199</td>
					<td><span class="c-icon c-icon--up-arrow"></span>&nbsp;2.15%</td>
				</tr>
				<tr>
					<td>Стоимость чистых активов, руб.</td>
					<td>318 784 971</td>
					<td>312 062 199</td>
					<td><span class="c-icon c-icon--up-arrow"></span>&nbsp;2.15%</td>
				</tr>
			</tbody>
		</table>
	</div>
	<h4>Стоимость пая и чистых активов на 29.02.2016</h4>
	<div class="c-table__wrapper">
		<table>
			<thead>
				<tr>
					<th>Дата оценки </th>
					<th class="--selected">За 1 мес.</th>
					<th>За 3 мес.</th>
					<th>За 6 мес.</th>
					<th>За 1 год</th>
					<th>За 3 года</th>
					<th>С момента<br> формирования</th>
					<th>За выбранный <br>период</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>03.03.2016</td>
					<td>0.19% <span class="c-icon c-icon--down-arrow"></span></td>
					<td>6.83% <span class="c-icon c-icon--up-arrow"></span></td>
					<td>0.07% <span class="c-icon c-icon--down-arrow"></span></td>
					<td>18.07% <span class="c-icon c-icon--up-arrow"></span></td>
					<td>18.07% <span class="c-icon c-icon--up-arrow"></span></td>
					<td>18.07% <span class="c-icon c-icon--up-arrow"></span></td>
					<td>18.07% <span class="c-icon c-icon--up-arrow"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<button class="c-btn" onclick="nmcApp.getShareValue()">Показать</button>
	<br>
	<div id="plotHiddenCharts" style="display: none;">
		<h4>Стоимость пая</h4>
		<p>27 декабря 2006 г.  –  29 февраля 2016 г.</p>
		<div class="c-plot__wrapper c-plot__wrapper--noflex u-mb35">
			<div class="c-plot" id="plot003" style="height: 400px;"></div>
		</div>
		
		<h4>График СЧА</h4>
		<p>27 декабря 2006 г.  –  29 февраля 2016 г.</p>
		<div class="c-plot__wrapper c-plot__wrapper--noflex u-mb25">
			<div class="c-plot" id="plot004" style="height: 400px;"></div>
		</div>
	</div>
</div>
<script>
	$(function() {
		var data = [[0, 3], [4, 8], [8, 5], [9, 13], [11, 4], [12, 13]];
		var data2 = [[0, 1], [4, 2], [8, 3], [9, 1], [2, 4], [3, 13]];
		var chartOpts = {
			colors: ["#f9d532"],
			series: {
				shadowSize: 0
			},
			grid: {
				borderWidth: 1,
				color: "#dedede"
			},
			xaxis: {
				color: "#dedede"
			},
			yaxis: {
				color: "#dedede"
			}
		}

		nmcApp.getShareValue = function() {
			$('#plotHiddenCharts').fadeIn();
			$.plot("#plot003", [data], chartOpts);
			$.plot("#plot004", [data2], chartOpts);
		}
	})
</script>