.c-btn {
	display: inline-block;
	background-color: @primary-color;
	line-height: 1;
	padding: 10px 20px;
	color: @secondary-color;
	text-decoration: none;
	font-weight: 300;
	text-align: center;
	outline: none;
	border-radius: 6px;

	&--out-border {
		background-color: #fff;
		border: 1px  solid #eeeeee;
		font-size: 14px;
		color: @base-color;
		&:hover {
			border-color: @primary-color;
		}
	}

	&:hover {
		color: inherit;
	}

}