.c-docs{
	font-size: 0;
	margin-left: -2%;

	&__item {
		font-size: 16px;
		font-size: 1rem;
		color: @base-color;

		display: inline-block;
		vertical-align: top;

		width: 23%;
		margin: 0 0 0 2%;
		margin-bottom: 3%;
	}

	&__img {
		max-width: 100%;
		border: 1px solid #eeeeee;
		border-radius: 6px;
	}
}