.c-header {

	&__topline {
		
		padding: 18px 0;
		transition: transform .3s ease-in;
	}

	&__navline {
		padding: 12px 0;
		border-bottom: 1px solid #e8e8e8;
		border-top: 1px solid #e8e8e8;
	}
	&__row {
		display: table;
		width: 100%;
	}

	&__col {
		display: table-cell;
		vertical-align: middle;
	
		&--logo {
			width: 270px;
		}

		&--nav {
			text-align: right;
			
		}

		&--contacts {
			width: 245px;
			text-align: right;
		}

		&--menu {
			width: 60px;
			padding-left: 20px;
			vertical-align: top;
			display: none;
			
			
		}
	}

	&__logo {
		text-decoration: none;
		outline: none;
		
		img {
			max-width: 100%;
			border: 0;
		}
	}

	&__nav {

		.c-icon {
			vertical-align: top;
			margin-top: -2px;
			margin-right: 5px;
		}

		&-item {
			display: inline-block;
			vertical-align: top;
			margin-left: 35px;
			color: @secondary-color;
			font-weight: 300;
			font-size: 14px;
			text-decoration: none;


		}
	}

	&__userblock {
		font-weight: 300;
		margin-bottom: 10px;
		font-size: 14px;
		color: @secondary-color;

		a {
			text-decoration: none;
			color:  @secondary-color;

			&:hover {
				color: @link-color;
			}

		}
	}

	&__contacts {
		&-title {
			font-size: 11px;
			font-weight: 300;
			text-transform: uppercase;
			color: #90908f;
			
		}

		&-tel {
			.fontSize(27);
			line-height: 1;
			text-decoration: none;
			font-weight: 300;
			color: @secondary-color;
			
		}
	}

	&__menu {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		flex-shrink: 1;
		justify-content: center;

		&-item {
			display: inline-block;
			vertical-align: top;
			margin-left: 20px;
			flex-grow: 1;
			padding: 10px 20px;
			border: 1px solid #fff;
			border-radius: 20px;
			text-align: center;
			text-decoration: none;
			align-self: center;
			font-size: 14px;
			line-height: 1;
			text-transform: uppercase;
			color: @secondary-color;
			
			&:first-child {
				margin-left: 0;
			}

			&:hover {
				border-color: @primary-color;
				color: @secondary-color;
			}

			&--active {
				font-weight: 600;
			}

			&--mobyle {
				display: none;
				
			}
			
		}
	}

	&__controls {
		display: none;
	}

	&__close {
		width: 40px;
		height: 40px;
		background-color: #909090;
		position: absolute;
		top: 10px;
		right: 10px;

		&:before {
			content: "×";
			font-family: Arial, sans-serif;
			font-size: 40px;
			width: 40px;
			height: 40px;
			position: absolute;
			top: 0px;
			height: 100%;
			left: 0;
			width: 100%;
			text-align: center;
			color: #fff;
			line-height: 40px;
			display: block;
			vertical-align: top;
			
			
		}
	}

	&__controls {
		height: 50px;
	}

	@media (min-width: @screen-md) {


		&__menu-item:hover &__submenu {
			display: block;
		}
	}

	

	&__submenu {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 2;
		text-transform: none;
		text-align: left;

	}

	@media (max-width: @screen-md-min) {
		position: relative;
		overflow: hidden;

		&__controls {
			display: block;

			.c-header__userblock {
				padding-top: 11px;
				
			}
			
		}
		&--active &__topline {
		}

		&--active &__navline {
			transform: translateX(-280px)
		}


		&__menu {
			display: block;

			&-item {
				display: block;
				text-align: left;
				border-radius: 0;
				margin-bottom: 10px;
				border-color: darken(#eeeeee, 20%);
				user-select: none;
				-webkit-user-select: none;
				margin-left: 0;
				padding: 10px 10px 10px 10px;
				background-color: #fff;

				&--mobule {
					display: block;
					
				}
			}
		}	

		&__nav {
			display: none;
		}

		&__navline {
			//display: none;
			transition: transform .3s ease-in;
			
			position: fixed;
			height: 100%;
			border: 1px solid #EFEFEF;
			top: 0;
			width: 280px;
			left: 100%;
			z-index: 10;
			padding: 10px 0 10px 0;
			background-color: #eee;
			overflow-y: auto;
			
			.l-container {
				width: 100%;
			}
		}

		&__row {
			//display: block;
		}

		&__col {
			&--menu {
				display: table-cell;
				
			}
			
			&--logo {

			}
		}
  }

  @media (max-width: @screen-sm-min) {
  	&__userblock {
  		display: none;
  		
  	}

  	&__controls &__userblock {
  		display: block;
  		padding-top: 11px;
  		
  	}


  	&__logo {
  		margin-bottom: 10px;
  		display: inline-block;
  		vertical-align: top;
  		
  		img {
  			width: 200px;
  		}
  	}

  	&__contacts {
  		
  		&-tel {
  			font-size: 16px;
  			white-space: nowrap;
  		}

  		&-title {
  			display: inline-block;
  			
  		}
  	}


  	&__row {
  		display: block;
  		
  	}

  	&__col {
  		display: block;
  		width: 100%;

  		&--logo {
  			
  		}

  		&--contacts {
  			text-align: left;
  		}

  		&--menu {
  			position: absolute;
  			right: 10px;
  			top: 15px;
  			width: 40px;
  			height: 40px;
  			padding-left: 0;
  		}
  	}
  }
}