.c-page {
	margin: 45px auto;
	min-height: 400px;
	.clearfix();

	&__aside {
		float: left;
		width: 230px;
		position: relative;
		min-height: 1;
	}

	&__main {
		margin-left: 260px;
		position: relative;
		min-height: 1;
		
	}

	&__title {
		.fontSize(28);
		text-transform: uppercase;
		.firstLetter();
		line-height: 1;
		margin-bottom: round(30/28em, 3);
		color: @secondary-color;
		font-weight: 300;
	}

	@media (max-width: @screen-md-min) {
		&__aside {
			display: none;
			
			width: 100%;
			float: none;

			.c-poster {
				display: none;
				
			}
		}

		&__main {
			width: 100%;
			margin-left: 0;
		}
	}
}