.c-vcards {
	list-style-type: none;
	margin-left: -3%;
	font-size: 0;

	&__item {
		font-size: @base-fontSize;
		display: inline-block;
		vertical-align: top;
		width: 30.333%;
		margin: 0 0 2em 3%;

	}

	&__post {
		color: #999998;
		margin-bottom: .85em;
	}

	&__photoBox {
		width: 160px;
		height: 212px;
		overflow: hidden;
		margin-bottom: .75em;
		border-radius: 6px;
		border: 1px solid #e8e8e8;

		img {
			display: block;
			height: 100%;
			max-width: none;
		}
	}

	@media (max-width: @screen-sm-min) {
		
		&__item {
			display: table;
			width: 100%;
		}

		&__photoBox {
			display: table-cell;
			vertical-align: top;
			height: 165px;
			width: 125px;
			
		}

		&__data {
			display: table-cell;
			padding-left: 20px;
			vertical-align: top;
			
		}
		
	}
}